@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: #02333A;
    }

    h1, h2 {
        color: #A89060;
    }

    p, ul {
        color: white;
        font-size: 20px;
    }
</style>

<br />
<h1>@ViewData["Title"]</h1>

<p>Last Updated: 1 November 2024</p>
<br />
<p>Welcome to TheFabricsLabs. 
    We value your privacy and are committed to protecting your personal information. 
    This Privacy Policy explains how we collect, use, and share your information when you visit our website or make a purchase.
</p>

<br />

<h2>Data Collection</h2>
<p>When you create an account, place an order, or contact us, we may collect your personal information such as:</p>
<ul>
    <li>Name</li>
    <li>Email Address</li>
    <li>Phone Number</li>
    <li>Date of Birth</li>
    <li>Shipping Address</li>
    <li>Payment Information</li>
</ul>

<br />

<h2>Use of Data</h2>
<p>We use the information for the following purposes:</p>
<ul>
    <li>Processing and fulfulling your orders.</li>
    <li>Communicating with you about your account and purchase orders.</li>
    <li>Sending promotional materials (only if user has opted in).</li>
</ul>

<br />

<h2>Data Sharing</h2>
<p>We do not sell or rent your personal information. However, we may share your information with trusted third parties to assist with:</p>
<ul>
    <li>Payment processing</li>
    <li>Shipping and delivery</li>
</ul>

<br />

<h2>Data Security</h2>
<p>We implement reasonable security measures to protect your personal information from unauthorised access and misuse. 
    However, no method of transmission over the internet or method of electronic storage is 100% secure.</p>

<br />

<h2>User Rights</h2>
<p>User's have the right to access and update their personal information, request deletion of said information, and opt out of marketing communications. 
    To exercise these rights, please see our contact details at the end of the page.
</p>

<br />

<h2>Children's Privacy</h2>
<p>TheFabricsLabs is not intended for children under the age of 13. 
    We do not knowingly collect personal information from children.
</p>

<br />

<h2>Contact Information</h2>
<p>If you have any inquiries regarding our Terms of Service, please contact us at:</p>
<ul>
    <li>Phone: +673 8911568</li>
    <li>Email: yoursfabricsbn@gmail.com</li>
</ul>

<br />

<p>Thank you for choosing TheFabricsLabs.</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
