
@{
    ViewData["Title"] = "Terms of Service";
}
<style>
    body{
        background-color: #02333A;
        
    }
    h1, h2{
        color: #A89060;
    }
    p, ul{
        color: white;
        font-size: 20px;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Last Updated: 1 November 2024</p>
<br />
<p>Welcome to TheFabricsLabs, where we express your individuality with our unique styles!</p> 
<p>Please read our terms and conditions thoroughly and carefully before using our services. 
    By accessing or using our services, you agree to comply with our Terms of Service and Privacy Policy.
</p>

<br />

<h2>Intellectual Property</h2>
<p>All content displayed on this website, which includes text, images, and logos, are the property of TheFabricsLabs and is protected by copyright law. 
    Unauthorised use is prohibited.
</p>

<br />

<h2>Limitations of Liability</h2>
<p>TheFabricsLabs is not liable for any consequential, incidental, or indirect that may arise from your use of the site or products that have been purchased.</p>

<br />

<h2>Modifications to our Terms</h2>
<p>We reserve the right to update and modify these terms at any point of time from time to time to modify the website, with or without notice. 
    Changes will be posted on this page, and your continued use of our website signifies your acceptance of the updated terms.
</p>

<br />

<h2>Orders and Payments</h2>
<p>When placing an order, you agree to provide valid payment information. 
    Orders are subject to availability and confirmation of the order price.
</p>

<br />

<h2>Product Information</h2>
<p>We strive for accuracy in our product descriptions and pricing; however, errors may occur. 
    We reserve the right to correct any errors and to change or update information without prior notice.
</p>

<br />

<h2>Returns, Refunds, and Exchange</h2>
<p>We reserve the right to deny any requests for any refunds or exchanges of our products.</p>

<br />

<h2>Shipping and Delivery</h2>
<p>TheFabricsLabs offers a variety of shipping options. 
    Delivery times are estimates and may vary. 
    We are not liable for any delays in shipping.</p>

<br />

<h2>User Accounts</h2>
<p>To access more features in our website, you may need to create an account. 
    You agree to provide accurate information and maintain the confidentiality of your account credential. 
    You are responsible for all activities done under your account.</p>

<br />

<h2>Contact Information</h2>
<p>If you have any inquiries regarding our Terms of Service, please contact us at:</p>
<ul>
    <li>Phone: +673 8911568</li>
    <li>Email: yoursfabricsbn@gmail.com</li>
</ul>

<br />

<p>Thank you for choosing TheFabricsLabs.</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
