@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<style>
    body{
        background-color: #0C797C;
    }

    layout-text{
        color: white;
    }

    layout-bg{
        color:white;
    }
    #logout{
        color: red;
    }
</style>

<br />
<br />
<h1 class="layout-text">Manage your account</h1>

<div class="layout-text">
    <br />
    <div class="row layout-bg">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
