@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>
<body>
    <div class="banner-container">
        <img id="banner" src="~/img/Fabrics Lab -102 1.png" alt="Alternate Text" />
        <p class="banner-text">The Fabrics Labs</p>
    </div>
    
    <section class="row">
        <div class="column-a">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d993.7372801412514!2d114.94291073627589!3d4.948115603554676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNMKwNTYnNTEuOSJOIDExNMKwNTYnMzYuOSJF!5e0!3m2!1sms!2sbn!4v1728892134453!5m2!1sms!2sbn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="column-b">
            <br>
            <h2>About Us</h2>
            <br>
            <p>The Fabrics Labs is a local brand based in Brunei Darussalam, founded in 2014.</p>
            <br>
            <p>We take immense pride in offering a collection of scarves that embodies both elegance and minimalist.
                Each piece is thoughtfully designed by locals, ensuring that you not only wear a beautiful accesory, but also a piece of support for the community who created it.
            </p>
            <br>
            <p>Our scarves are more than just fashion statements; they are a celebration of local talent and a testament to the rich heritage of our region.</p>
            <br>
            <p>Thank you for being part of our journey!</p>
            <br>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class="contact-info">
        <h1>Get in touch with us!</h1>
        <br><br>
        <article class="bottom-three">
            <img class="icons" src="~/img/Phone.png" alt="Phone PNG" />
            <br><br>
            <h3>Phone Number</h3>
            <br>
            <a href="tel:+673 8911568">+673 8911568</a>

        </article>
            
        <article class="bottom-three">
            <img class="icons" src="~/img/Map pin.png" alt="Map Pin PNG" />
            <br><br>
            <h3>Our Address</h3>
            <br>
            <p>Spg 66, Unit 18C 1st Floor, Block C, Berakas Centre, Kpg Serusop, Jalan Berakas</p>
            <p>Opening Hours:</p>
            <p>Mon-Sun: 11AM - 6PM</p>
            <p>Fri: 2-8PM</p>
            <p id="closed">(Closed every Wednesday)</p>
            
        </article>
            
        <article class="bottom-three">
            <img class="icons" src="~/img/Mail.png" alt="Mail PNG" />
            <br><br>
            <h3>Email Address</h3>
            <br>
            <a href="mailto:yoursfabricsbn@gmail.com">yoursfabricsbn@gmail.com</a>
        </article>
            
    </section>
</body>
</html>
